*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #E5E5E5;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
    background-color: transparent;
}

.wrapper .sidebar{
    background-color: rgb(220, 243, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 30px 0;
    transition: all 0.5% ease;
}

.wrapper .sidebar .logosmart{
    margin-top: 400px;
    text-align: center;
}

.wrapper .sidebar .logosmart img{
    display: blok;
    width: 120px;
    height: 120px;
}

.wrapper .sidebar .logosmart h1{
    color: rgb(44, 44, 44);
    margin-top: -15px;
    font-size: 16pt;
    font-family: sans-serif;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 15px 65px;
    color: rgb(44, 44, 44);
    font-size: 18px;
    position: relative;
    font-weight: bold;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    background-color: #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
}

.wrapper .sidebar ul li a:hover::before,
.wrapper .sidebar ul li a.active::before{
    display: block;
}

.judul .biodata{
    display: inline-block;
    background-color: rgb(0, 78, 142);
    border-radius: 20px;
    padding-bottom: 20px;
    padding-right: 55px;
    padding-left: -10px;
    margin-top: 15px;
}

.judul h1{
    display: inline-block;
    font-family: sans-serif;
    font-size: 20pt;
    align-items: center;
    margin-top: 25px;
    margin-left: 255px;
    color: #f7f7f7;
    
}

.judul h3{
    display: flex;
    color: rgb(225, 225, 225);
    font-family: sans-serif;
    align-items: center;
    margin-top: 10px;
    margin-left: 255px;
}

section {
    margin: 100px auto;
}

.container {
    font-family: "Poppins";
    max-width: 1170px;
    width: 750px;
    padding: 30px;
    margin: 0 auto;
    border: none;
    border-radius: 25px;
    background-color: #ffffff;
    display: grid;
    grid-template-areas: 
        "top"
        "container";
    grid-template-rows: auto 1fr;
}

.container h1 {
    display: inline-block;
    font-size: 28pt;
    padding: 0;
    margin: 0;
}

.top-wrapper {
    grid-area: top;
    padding: 0 0 20px 0;
    border-bottom: 1px solid;
}

.inside {
    display: grid;
    grid-template-areas: 
        "psw-lama"
        "input-lama"
        "psw-baru"
        "input-baru"
        "konf-psw"
        "konf0-baru";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding: 20px 0 20px 0;
    gap: 15px;
}

input[type="password"] {
    padding: 5px;
    width: 50%;
    border-radius: 10px;
}

label {
    padding: 0;
    font-weight: bold;
}


p {
    border-radius: 20px;
    padding-bottom: 10px;
}
